/Unidad1/Agenda/nbproject/private/
/Unidad3/Temporalizador Con Editor Personalizado/ComponenteTemporizador/build/
/Unidad3/Temporalizador Con Editor Personalizado/ComponenteTemporizador/dist/
/Unidad3/Temporalizador Con Editor Personalizado/ComponenteTemporizador/nbproject/private/
/Unidad3/Temporalizador Con Editor Personalizado/PruebaTemporalizador/build/
/Unidad3/Temporalizador Con Editor Personalizado/PruebaTemporalizador/dist/
/Unidad3/Temporalizador Con Editor Personalizado/PruebaTemporalizador/nbproject/private/